body{
    background: var(--color-body);
    font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
}
a {
    color: #3778cd;
}

/*---------------------------------------------
| Custom styles for website
---------------------------------------------*/
.file-input-wrapper {
    background: #666;
    padding: 4px 10px;
    cursor: pointer;
    border: 1px solid #444;
    max-width: 100px;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    color: var(--color-white);
}

.error-heading{
    font-size: 25px;
}

.widget ul {
    padding: 0;
    margin: 0;
}

.main-navbar .overlay{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-navbar .collapse{
    display: block;
}

.ads-banner {
    background: #ddd;
    overflow: hidden;
    height: 110px;
    margin-bottom: 1rem;
}

.main{
    min-height: calc(100vh - 200px);
}

.column-right .sidebar .widget{
    overflow: hidden;
    text-align: center;
    border: 1px solid #dddddd;
}

.footer-wrapper {
    color: var(--color-white);
    overflow: hidden;
}

footer {
    background-color: var(--color-blue);
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.login-box{
    background: var(--color-white);
    text-align: center;
    width: 300px;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(150,150,150,0.5);
}

.file-icon{
    font-size: 25px;
    line-height: 40px;
}

@media screen and (min-width: 768px){
    .main .column-left{
        flex: 1 0 0;
        margin-right: -340px;
        padding-right: 355px;
    }
    .main .column-right{
        flex: 0 0 340px;
        max-width: 340px;
        padding-left: 0;
    }
}

@media screen and (max-width: 767px){
    .main-navbar .navbar-collapse .navbar-nav{
        position: fixed;
        inset-y: 0;
        top: 0;
        left: -100%;
        transition: left .2s;
        width: 280px;
        height: 100vh;
    }
    .main-navbar .navbar-collapse.show .navbar-nav{
        left: 0;
    }
    .main-navbar .navbar-collapse.show .overlay{
        display: block;
    }
    .main-navbar .navbar-collapse li{
        border-bottom: 1px solid var(--color-sky);
    }
}